<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

{#    <title>Landing Page - Start Bootstrap Theme</title>#}

{#    <!-- Bootstrap core CSS -->#}
{#    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}

{#    <!-- Custom fonts for this template -->#}
{#    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">#}
{#    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">#}
{#    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">#}

{#    <!-- Custom styles for this template -->#}
{#    <link href="css/landing-page.min.css" rel="stylesheet">#}

</head>

<body class="app">

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger" href="{{ path('admin') }}">Admin zone</a>
        {% endif %}
        {% if app.user %}
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Log out</a>
        {% else %}
            <a class="btn btn-success" href="{{ path('app_register') }}">Register</a>
            <a class="btn btn-primary" href="{{ path('app_login') }}">Sign In</a>
        {% endif %}
    </div>
</nav>

{% block body %}
    <div class="container mt-2 mb-2">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}

</body>

</html>
